<div class="container-fluid mt-5">
  <div class="row">
    <%# User info and post form column - stacks on mobile %>
    <div class="col-12 col-md-4 col-lg-4 mb-3">
      <%= render partial:"shared/user_info",locals:{user:@user} %>
      <%= render partial: "posts/form", locals: { post: @post } %>
      <%#? last list rendered here %>
      <div class="chat-list-container rounded shadow-sm bg-light p-3">
        <h5 class="text-center">Conversations</h5>
        <%= render partial: "messages/chat_list", locals: { conversations: @conversations } %>
      </div>
      <%#?------------------------- %>
    </div>
    <%#! Turbo frame to append the post onces created %>
    <div class="col-12 col-md-8 overflow-auto" style="height: 80vh;">
      <%= turbo_frame_tag "posts_container" do %>
        <% @posts.each do |post| %>
          <%= render partial: "posts/post", locals: { post: post } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>