<!-- app/views/messages/chat.html.erb -->
<div>
  <%= render partial:"messages/chat_list",locals:{user:@user} %>
</div>
<div class="chat-container">
  <div id="chat-room" data-recipient-id="<%= @recipient.id %>" data-current-user-id="<%= current_user.id %>" class="chat-messages">
    <div id="message-display" class="messages-container">
      <% @messages.each do |message| %>
        <div class="message <%= message.sender == current_user ? 'sent' : 'received' %>">
          <div class="message-content">
            <p><%= message.body %></p>
            <span class="timestamp"><%= message.created_at.strftime("%I:%M %p") %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= form_with(model: @message, local: false, id: "message-form", class: "message-form") do |f| %>
    <%= f.hidden_field :recipient_id, value: @recipient.id %>
    <div class="input-group">
      <%= f.text_field :body, 
        class: "form-control", 
        id: "message-input", 
        placeholder: @message.errors.any? ? "Message can't be empty!" : "Message..." %>
      <%= f.submit 'Send', class: 'btn btn-send text-primary' %>
    </div>
  <% end %>
</div>
