<%= turbo_frame_tag "comment_#{dom_id(comment)}" do %>
  <div class="comment-item bg-white p-4 mb-3 rounded-3 shadow-sm hover-shadow transition">
    <div class="d-flex align-items-start">
      <div class="comment-avatar me-3">
        <%# Add a placeholder or user avatar here %>
        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center" style="width: 40px; height: 40px">
          <%= link_to user_path(comment.author),data:{turbo_frame:"_top"} do %>
            <%= comment.author.avatar.attached? ?
           image_tag(comment.author.display_avatar,class:"rounded-circle ",height:"25",width:"25") : 
           image_tag("default_avatar.png",height:"70",width:"70") %>
          <% end %>
        </div>
      </div>
      <div class="comment-wrapper flex-grow-1">
        <div class="comment-content p-2 mb-2">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <%= link_to comment.author.name, user_path(comment.author), 
          class: "fw-bold text-decoration-none text-primary mb-1 d-inline-block" %>
              <p class="comment-text mb-0 text-dark"><%= comment.body %></p>
            </div>
          </div>
        </div>
        <div class="comment-metadata px-2 d-flex justify-content-between align-item-center">
          <div class="d-flex align-items-center gap-3">
            <small class="text-muted">
              <i class="bi bi-clock me-1"></i>
              <%= time_ago_in_words(comment.created_at) %> ago
            </small>
            <% if comment.author == current_user %>
              <small class="action-links">
                <%= link_to post_comment_path(comment.post, comment),
            class: 'text-danger text-decoration-none',
            data: { 
              turbo_method: :delete,
              turbo_confirm: 'Are you sure you want to delete this comment?'
            } do %>
                  <i class="bi bi-trash"></i>
                  <span>Delete</span>
                <% end %>
              </small>
            <% end %>
          </div>
          <div class="like">
            <%= render partial: "shared/like_button",locals:{likeable:comment} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
